/* This section is for media queries! */

:root{
    --main-color: #d3ad7f;
    --black: #13131a;
    --bg: #010103;
    --border:.1rem solid rgba(255,255,255,.3);
}

@media (max-width:991px) {

    html{
        font-size: 55%;
    }

    .header{
        padding: 1.5rem 2rem;
    }

    section{
        padding: 2rem;
    }
}

@media (max-width:768px){

    #menu-btn{
        display: inline-block;
    }

    .header .navbar{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar.active{
        right: 0;
        background: var(--main-color);
    }

    .header .navbar a{
        color: var(--bg);
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
    }

    .header .navbar a:hover{
        color: #fff;
        font-size: 2.5rem;

    }

    .header .search-form{
        width: 90%;
        right: 2rem;
    }

    .home{
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .home .content h3{
        font-size: 4.5rem;
    }

    .home .content p{
        font-size: 1.5rem;
    }
}

@media (max-width:450px){

    html{
        font-size: 50%;
    }
}